---
title: 使用说明
slug: usage
lead: "如何在服务端、客户端、第三方环境中中使用 less 。"
---

<!-- Usage
=================================== -->
<div class="docs-section">
  <h1 id="using-less-environments">使用 Less</h1>
  <p class="lead">Using less in node, browser and third party. For general installation instructions and an overview, please read the <a href="/#using-less">Using Less</a> section on our front page.</p>
  <p class="lead">在 Node、浏览器和第三方环境中使用 Less。通用的安装向导和快速预览请阅读首页的<a href="/#using-less">使用 Less</a> 章节。</p>
</div>


{{#each usage.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
    <div class="section-content">
      {{> popover-source-link . }}

      <!-- {{basename .}} -->
      {{success '>> Inlining:' (basename .)}} {{! log a success message! }}


{{#markdown}}
{{inline .}}
{{/markdown}}

      <br>
    </div>
    {{/each}}

  </div>
{{/each}}
